{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>MillionPixel</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static 'assets/img/favicon.png" rel="icon">
  <link href="{% static 'assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Jost:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'assets/vendor/aos/aos.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/remixicon/remixicon.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Arsha - v4.6.0
  * Template URL: https://bootstrapmade.com/arsha-free-bootstrap-html-template-corporate/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top header-inner-pages">
    <div class="container d-flex align-items-center">

      <h1 class="logo me-auto"><a href="/">One Million Pixels</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" cl{% static 'ass="logo me-auto"><img src="{% static 'assets/img/logo.png" alt="" cl{% static 'ass="img-fluid"></a>-->

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto " href="\">Home</a></li>
          <li><a class="nav-link scrollto" href="faq">FAQ</a></li>
          {% if request.user.username == 'admin' %}<li><a class="scrollto" href="requests">View Requests</a></li>{% endif %}
          <li>{% if request.user.username == 'admin' %}<a class="scrollto" href="addimage">add Images</a>{% else %}<a class="getstarted scrollto" href="javascript:void(0)">Connect Wallet</a>{% endif %}</li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->
  {% block content %}

  {% endblock content %}

    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/web3/3.0.0-rc.5/web3.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
      let currentAccount = null;
      let web3;
      let abi;
      let contactAddress = '0xB16bEc01bfe4F13D5e85A2F75F51893D797Df1F7'

      function handleAccountsChanged(accounts) {
        console.log('Calling HandleChanged')

        if (accounts.length === 0) {
          console.log('Please connect to MetaMask.');
          $('#enableMetamask').html('Connect with Metamask')
        } else if (accounts[0] !== currentAccount) {
          currentAccount = accounts[0];
          $('#enableMetamask').html(currentAccount)
          $('#status').html('')

          if (currentAccount != null) {
            // Set the button label
            $('#enableMetamask').html(currentAccount)
            
            $('.getstarted').html('Access Pixels').attr('href','userForm?address='+currentAccount) 
           
          }
        }
        console.log('WalletAddress in HandleAccountChanged =' + currentAccount)
      }

      function connect() {
        console.log('Calling connect()')
        ethereum
          .request({ method: 'eth_requestAccounts' })
          .then(handleAccountsChanged)
          .catch((err) => {
            if (err.code === 4001) {
              // EIP-1193 userRejectedRequest error
              // If this happens, the user rejected the connection request.
              console.log('Please connect to MetaMask.');
              $('#status').html('You refused to connect Metamask')
            } else {
              console.error(err);
            }
          });
      }

      function detectMetaMask() {
        if (typeof window.ethereum !== 'undefined') {
          return true
        } else {
          console.log("Install metamask extension")
          return false

        }
      }

      async function getValue() {
        console.log('GetValue')
        const contractFirst = new web3.eth.Contract(
          abi,
          contactAddress
        );

        contractFirst.methods.getValue().call().then(function (result) {
          $('#getValue').html(result)
        });
      }

      async function setValue() {
        console.log('Set Value')

        input_value = $('#value').val()

        if (input_value.trim() == '') {
          input_value = 0
        }
        if (!isNaN(input_value)) {
          input_value = parseInt(input_value)
        }

        const contractFirst = new web3.eth.Contract(
          abi,
          contactAddress
        );

        contractFirst.methods.setValue(input_value).send({ from: currentAccount }).then(function (result) {
          console.log(result);
          $('#getValue').html(input_value)
        });

      }
    </script>
    <script>
      $.getJSON("build/contracts/FirstContract.json", function (result) {
        abi = result.abi
      });

      $(document).ready(function () {
        m = detectMetaMask()
        if (m) {
          $('#metaicon').removeClass('meta-gray')
          $('#metaicon').addClass('meta-normal')
          $('#enableMetamask').attr('disabled', false)
          connect() // Make sure the connected wallet is being returned
        } else {
          $('#enableMetamask').attr('disabled', true)
          $('#metaicon').removeClass('meta-normal')
          $('#metaicon').addClass('meta-gray')
        }

        $('#enableMetamask').click(function () {
          connect()
        });
        $('.getstarted').click(function () {
          m = detectMetaMask()
          if (m) {
            connect() // Make sure the connected wallet is being returned
          } else {
            alert('add MetaMask extension in your browser to connect')
          }
        });

        $('#setValue').click(function () {
          setValue()
        });


        try {
          web3 = new Web3(new Web3.providers.HttpProvider("http://localhost:7545"));
        } catch (error) {
          alert(error)
        }

        //Fetch Value from Smart Contract
        getValue()
      })

      '{% if request.GET.error %}'
       alert('You are not allowed, conact us to add your address')
       '{% endif %}'

    </script>
    {% block javascript %}
    
    <script src="{% static 'assets/js/main.js' %}"></script>
     <!-- Vendor JS Files -->
  <script src="{% static 'assets/vendor/aos/aos.js' %}"></script>
  <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'assets/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'assets/vendor/swiper/swiper-bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/waypoints/noframework.waypoints.js' %}"></script>
    {% endblock javascript %}
  </body>

  </html>