{% extends 'base.html' %}
{% load static %}

{% block content %}
<main id="main" style="margin-top:40px ;">
    <section id="contact" class="contact">
        <div class="container aos-init aos-animate" data-aos="fade-up">

            <div class="section-title">
                <h2>Block Requests</h2>
                <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint
                    consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia
                    fugiat sit in iste officiis commodi quidem hic quas.</p>
            </div>

            <div class="row justify-content-center">

                <div class="col-lg-9 mt-5 mt-lg-0 d-flex align-items-stretch">
                    <table class="php-email-form">
                        <tr>
                            <td>#</td>
                            <td>user address</td>
                            <td>blocks</td>
                            <td>Image</td>
                            <td>Action</td>
                        </tr>
                        {% for b in request_blocks %}
                        <tr>
                            <td>{{ loop.count }}</td>
                            <td>{{ b.useraddress.address }}</td>
                            <td>{{ b.no_of_blocks }}</td>
                            <td><img style="width: 70px;" src="{{ b.image.url }}"></td>
                            <td><a href="addimage?request_block={{ b.id }}">add block</a></td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>

            </div>

        </div>
    </section>
</main>

{% endblock %}